.article {
  background-color: $veryLightGray;

  &__card {
    background-color: $white;
    max-width: 35rem;
    border-radius: 0 0 5px 5px;

    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }

    .card__text {
      text-align: left;
      padding: 1.8rem;
    }
  }
}