.footer {
  background-color: $darkBlue;

  
  &__grid {
    display: grid;
    width:100%;
    justify-items: center;

    @include breakpoint-up (large) {
      grid-template-columns: 1fr .5fr .5fr 2fr;
      grid-row: auto;
      justify-items: center;
      grid-template-areas: "logo link1 link2 button"
                            "scoialIcon whitespace1 whitespace2 copyright";
    } 
  }

  &__logo {
    @include breakpoint-up(large){
      grid-column: 1/2;
      grid-row: 1/2;
      padding:0;
    }
    
    img {
      margin-bottom: 1rem;
    }
  }

  &__socialIcon {
    display: flex;
    flex-direction: row;

    @include breakpoint-up(large) {
      grid-column: 1/2;
      grid-row: 2/3;
      padding:0;
    }
    
    a:not(:last-child) {
      padding-right: 2.1rem;
    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      color:$white;
      transition: color 300ms ease-in-out;

      &:hover {
        color: $grayishBlue;
      }
    }

    a:not(:last-child) {
      padding-bottom: 1rem;
    }

    @include breakpoint-up (large) {
      .desktop-first-column {
        grid-column: 2/3;
        grid-row: 1/3;

      }
  
      .desktop-second-column {
        grid-column: 3/4;
        grid-row: 1/3;
      }
    }
  }

  

  &__button{

    @include breakpoint-up (large) {
      grid-area: button;
    } 
  }

  &__copyright {

    @include breakpoint-up (large){
      grid-area: copyright;
    }
  }
}