.hero {
  background-color: $veryLightGray;

  .container{
    @include breakpoint-up (large) {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      grid-template-areas: 'text image';
    }
  }
 
  &__image {
    position: relative;
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 20.75rem;
    grid-area: image;

    @include breakpoint-up (large) {

      &::before {
      position: absolute;
      content: "";
      background-image: url(/images/bg-intro-desktop.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      width:100%;
      }
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url(/images/image-mockups.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      left: 2%;
      width: 96%;
      height: 100%; 
      grid-area: image;
    }
  }

  &__text {
    text-align: center;
    
    @include breakpoint-up (large){
      grid-area:text;
      align-self: center;
      text-align: left;
    }
    

    h1 {
      font-size: $font-lrg;
      font-weight: 300;
      color: $darkBlue;
      line-height: 1.2;
      margin-bottom: 1.5rem;

      @include breakpoint-up (large){
        font-size: $font-xlrg;
      }
    }

    p{
      font-size: $font-med;
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
